/* Mobile & Tablet */

@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
    }

    .header__cart-list {
        position: fixed;
        width: 100%;
        top: var(--header-height);
        right: 0;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::before {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }

    .header__logo-img {
        width: 90px;
    }

    .header__logo {
        width: 105px;
    }

    .header__cart-icon {
        font-size: 2.1rem;
    }

    .header__cart-notice{
        line-height: 1rem;
    }

    .header__search {
        height: 38px;
    }

    .header__search-input {
        font-size: 1.3rem;
    }

    .header__search-btn {
        height: 34px;
        width: 54px;
    }

    .header__search-heading {
        font-size: 1.3rem;
        margin: 10px 12px 0;
    }

    .header__search-history-item a {
        font-size: 1.1rem;
        line-height: 3.2rem;
    }

    .header__search-select {
        padding-left: 8px;
        height: 16px;
        padding-top: 0px;
    }

    .header__search-select-label {
        font-size: 1.2rem;
    }

    .header__search-option {
        min-width: 130px;
        top: 110%;
    }

    .header__search-option-item {
        padding: 12px;
    }

    .header__search-option-item span {
        font-size: 1.2rem;
    }    

}

/* Mobile */

@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }
    
    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__logo-img {
        width: 115px;
    }

    .header__mobile-search {
        display: block;
    }

    .header__search{
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        height: 50px;   
        padding: 0 16px;
        display: none;
        z-index: 1;
    }
    .header__search-select {
        display: none;
    }

    .header__search-btn {
        width: 50px;
        height: 36px;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        padding-left: 20px;
    }

    .header__search-history-item {
        padding-left: 20px;
    }

    .mobile-category {
        display: block;
    }


    .content {
        margin: 0 4px;
        padding-top: 8px;
    }

    .pagination-item__link {
        margin: 0;
    }

    .footer__wrap {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .download__app-link,
    .footer__link {
        padding: 8px 0;
        display: block;
        text-align: center;
        font-size: 1.1rem;
    }

    .download__apps {
        margin-left: unset;
    }

    .download-qr {
        display: none;
    }
}